@media only screen and (min-width: 52em){

    #starLayer{
        font-size: 24pt;
    }

h1{
    font-size: 30pt;
}

.buttonstyle{
    font-size: 20pt;
    bottom: 12%;
}

.sidenav, .closebtn{
    font-size: 36pt;
}

.sidenav a{
    font-size: 18pt;
    padding: 5% 10%;
}

.stateName{
    font-size: 34pt;
}

#pageSections{
    font-size: 14pt;
}

.stateImages{
    display: flex;
    justify-content: space-evenly;
}

.SlideshowContainer{
    max-width: 500px;
}

main{
    font-size: 120%;
}

.weatherstats{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

footer{
    font-size: 120%;
}


}