@media only screen and (min-width: 52em){


h1{
    margin-top: 50px;
    font-size: 240%;
}

.buttonstyle{
    font-size: 24px;
}

.sidenav a{
    font-size: 24px;
}

#statesList{
    column-count: 5;
}

.stateImages{
    display: flex;
    justify-content: space-evenly;
}

.SlideshowContainer{
    max-width: 500px;
}

main{
    font-size: 150%;
}

.weatherstats{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

footer{
    font-size: 120%;
}


}