body,html{
    height: 100%;
    margin: 0;
}

header{
    background-color: #254e70;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

#starLayer{
    text-align: justify;
    width: 100%;
    color: white;
    font-size: 18pt;
    padding-top: 7%;
    margin: 0 10%;
}

#starLayer:after{
    content:"";
    display: inline-block;
    width: 100%;
}

h1{
    font-family: "Overlock SC", cursive;
    font-size: 20pt;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    padding-bottom: 7%;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #680909;
    box-shadow: 5px 0 5px rgba(0,0,0,0.4);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3%;
  }
  
  .sidenav a, .sidenav a:visited{
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14pt;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
  }

  .sidenav a.active{
    color: rgb(129, 188, 207);
}

  .sidenav a:nth-child(2){
      padding-top: 3%;
  }

  .sidenav a:last-child{
      padding-bottom: 100px;
  }
  
  .sidenav a:hover {
    color: #1f8fdf;
  }

  .sidenav a:active{
      color: #1f8fdf;
      text-decoration: underline;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 24pt;
    margin-left: 8%;
  }

  .buttonstyle{
    font-size:12pt;
    cursor:pointer;
    position:absolute;
    bottom: 10%;
    color: whitesmoke;
    transition: all .2s ease-in-out;
  }

  .buttonstyle:hover{
      transform: scale(1.1);
  }
  

main{
   margin: auto;
    font-family: "Assistant", sans-serif;
    font-size: 100%;
    color: #0f1a58;
}

.BackgroundImage{
    background: url("../images/stripesbackground.png");
    background-size: contain;
    min-height: 100%;
    height: auto;
    min-width: 100%;
    background-position: fixed; 
}

.overview, .symbols, .geography, .attractions{
    padding-bottom: 5%;
}

.stateName{
    text-transform: uppercase;
    text-align: center;
    font-size: 24pt;
    font-weight: bolder;
    padding-top: 7%;
    margin-top: 0;
}

#pageSections{
    text-align: center;
    font-size: 12pt;
   padding: 2%;
}

#pageSections a, #pageSections a:visited{
    text-decoration: none;
    color: #0f1a58;
}

#pageSections a:hover{
    color: rgba(207, 1, 1, 0.993);
    text-transform: uppercase;
}

#pageSections a:active{
text-decoration: underline;
}


fieldset{
    padding: 20px 50px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
    border: thin solid #211676;
}

legend{
    padding: 10px;
    font-weight: bolder;
}

.weatherstats:nth-child(3){
    text-transform: capitalize;
}

.imageColumn{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    max-width: 100%;
}

.imageColumn img{
    width: 60%;
}


/* Slideshow container */
.SlideshowContainer {
    max-width: 80%;
    display: block;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .SymbolSlideshow, .ActivitiesSlideshow {
    display: none;
    position: relative;
  }

  .SymbolSlideshow img, .ActivitiesSlideshow img{
      display: block;
      margin: auto;
      width: 70%;
      border-radius: 3%;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .weatherstats{
      display: block;
      text-align: center;
      font-size: 70%;
  }

  .cityName{
    background-color: rgb(179, 209, 219);
    border-radius: 3%;
    padding: 2%;
    margin: 6%;
  }

 .trivia{
     padding-bottom: 5%;
 }

  .footerlink, a.footerlink:visited{
      color: whitesmoke;
      text-decoration: none;
  }

  a.footerlink:hover{
      color: rgb(153,11,11);
}

a.footerlink:active{
    color:rgb(153, 11, 11);
    text-decoration: underline;
}

footer{
    color:#e8e8e8;
    font-size: 90%;
    background-color: #254e70;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 2%;
    position: relative;
}



